@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AwardsPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
    var categories = Model.Content.Children<CategoryHolder>();
    int counter = 1;
}

<div class="main-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')" data-image-effect>
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <div class="row">
                    <div class="col-xs-12">
                        @Model.Content.Bodytext
                    </div>
                    
                    @foreach (var category in categories)
                    {
                        <div class="row">
                            <section>
                                <div class="col-xs-12">
                                    <h2>@category.Name</h2>
                                </div>

                                @foreach (var award in category.DescendantsOrSelf<AwardUnit>())
                                {

                                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                                        <div class="award-item effect7">
                                            <div class="main-link-block">
                                                <div class="link-block-wrap">
                                                    <div class="link-block-image cover" style="background-image: url('@award.WebsitePicture.Url')"></div>
                                                </div>
                                            </div>
                                            <div class="award-text">
                                                <p><strong>By:</strong> @award.WebsiteCreator</p>
                                                <p><strong>Url:</strong> @award.WebsiteDomain</p>
                                            </div>
                                            <div class="vote-btn">
                                                <input type="radio" name='a-@counter' value="@award.Id" id="@award.Id" />
                                                <label class="text-center" for="@award.Id">Vote Pedro</label>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </section>
                        </div>
                        counter++;

                    }

                    

                    

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="section vote-result">
                                <div class="col-sm-6 col-xs-12">
                                    <button class="main-link" data-vote>Vote</button>
                                    <div data-vote-result></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
