@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Discoverpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="main-banner alternativ-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')" data-image-effect>
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                </div>
            </div>
            <a class="scroll-down visible-xs" href="#down">
                <span>scroll down</span>
                <svg xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-down" />
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="section">
                <div class="row">
                    <div class="col-xs-12" id="down">
                        @Model.Content.Intro
                        @if (Members.IsLoggedIn())
                        {
                            <h4>Hi @Members.GetCurrentMember().Name. Welcome back.</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-toggle">
    <div class="custom-item">
        <div id="get-ready" class="container" data-custom-list-item>
            <div class="row">
                <div class="col-xs-12">
                    <div class="custom-item-header">
                        <div class="toggle-left-icon">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#icon-get-ready" />
                            </svg>
                        </div>
                        <h2>@Model.Content.GetReadyHeadline</h2>
                        <div class="custom-toggle-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-item-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_GetReady")
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container-fluid white-format">
                    <div class="image-container" style="background-image: url('@Model.Content.UmbracoAwardsImage.Url')">
                        <div class="image-gradient-overlay"></div>
                        <div class="container">
                            <div class="image-container-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>@Model.Content.UmbracoAwardsHeadline</h3>
                                        <p>@Model.Content.UmbracoAwardsBodytext</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="@Model.Content.UmbracoAwardsLink.Url" class="main-link green-btn">Vote now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-item">
        <div id="experience" class="container" data-custom-list-item>
            <div class="row">
                <div class="col-xs-12">
                    <div class="custom-item-header">
                        <div class="toggle-left-icon">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#icon-experience" />
                            </svg>
                        </div>
                        <h2>@Model.Content.ExperienceHeadline</h2>
                        <div class="custom-toggle-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-item-content">
            <div class="container-fluid">
                @Html.Partial("_ExperienceSection")
            </div>
        </div>
    </div>
    <div class="custom-item">
        <div id="looking-back" class="container" data-custom-list-item>
            <div class="row">
                <div class="col-xs-12">
                    <div class="custom-item-header">
                        <div class="toggle-left-icon">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#icon-looking-back" />
                            </svg>
                        </div>
                        <h2>@Model.Content.LookingBackHeadline</h2>
                        <div class="custom-toggle-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-item-content">

            @Html.Partial("_LookingBack")
        </div>
    </div>
</div>







