@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="main-banner frontpage-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')">
    <div class="image-overlay"></div>
    <div class="banner-content">
        @Html.Partial("_LogoAnimation")
    </div>
</div>
<div class="frontpage-sections">
    <div class="section">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <div class="row">
                            <div class="col-xs-12">
                                @Model.Content.EventDescription
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a target="_blank" href="@Model.Content.EventLink.Url" class="main-link green-btn">Convince your boss</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="@Model.Content.EventLinkSecondary.Url" class="main-link">Se the program</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-1 custom-ul">
                    @Model.Content.EventListText
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="@Model.Content.EventImage.Url" />
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-fluid">
            <h2>Speakers</h2>
            @Html.Partial("_GetSpeakers")
        </div>
        <div class="container">
            <div class="row">
                    <div class="col-sm-4 col-sm-push-4 col-xs-6 col-xs-push-3">
                        <a class="main-link green-btn" href="/speakers/">See all speakers</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Themes</h2>
                    @Html.Partial("_GetThemes")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-push-4 col-xs-6 col-xs-push-3">
                    <a class="main-link green-btn" href="/themes/">See all themes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-fluid white-format">
            <div class="image-container" style="background-image: url('@Model.Content.HelpYourselfImage.Url')">
                <div class="image-gradient-overlay"></div>
                <div class="container">
                    <div class="image-container-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>@Model.Content.HelpYourselfHeadline</h3>
                                <p>@Model.Content.HelpYourselfBodytext</p>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="@Model.Content.HelpYourselfLink.Url" class="main-link green-btn">Check it out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2">

                    @Html.Partial("_LatestBlogs")
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <h2>@Model.Content.VenueHeadline</h2>
                    @Model.Content.VenueBodytext
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-4 col-xs-12">
                            <a class="main-link green-btn" href="@Model.Content.VenueLink.Url">Convince your boss</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h1>@Model.Content.Headline</h1>*@
@*<p>@Model.Content.Bodytext</p>*@