@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProgramPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";

    var tuesdayProgramList = Model.Content.Children<ProgramItem>().Where(x => x.DateS.Contains("6/6")).OrderBy(x => x.StartTime).ToList();
    List<ProgramItem> wednesdayProgramList = Model.Content.Children<ProgramItem>().Where(x => x.DateS.Contains("7/6")).OrderBy(x => x.StartTime).ToList();
    var thursdayProgramList = Model.Content.Children<ProgramItem>().Where(x => x.DateS.Contains("8/6")).OrderBy(x => x.StartTime).ToList();
    var fridayProgramList = Model.Content.Children<ProgramItem>().Where(x => x.DateS.Contains("9/6")).OrderBy(x => x.StartTime).ToList();

    var locationList = new string[] {"Main Room", "Back Room", "Entrance Room", "Stjerneskibet (The starship)"};
    ProgramItem[] tempProgramList = new ProgramItem[4];
    string currentTime = "";

}
<div class="main-banner cover" style="background-image:url('')">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">
        
        <div id="accordion" data-children=".item">
            <div class="item">
                <div class="program-header" >
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion1" aria-expanded="true" aria-controls="accordion1">
                        Tuesday
                    </a>
                </div>
                <div id="accordion1" class="collapse in " role="tabpanel">
                    <div class="container-fluid">
                        @{
                            <div class="row hidden-xs">
                                <div class="col-md-1">
                                    <p>Time</p>
                                </div>
                                <div class="col-md-2">
                                    <p>@locationList[0]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[1]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[2]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[3]</p>
                                </div>
                            </div>

                            for (int i = 0; i < tuesdayProgramList.Count; i++)
                            {
                                currentTime = tuesdayProgramList[i].StartTime.ToShortTimeString();

                                tempProgramList[Array.IndexOf(locationList, tuesdayProgramList[i].Location)] = tuesdayProgramList[i];

                                if (i == tuesdayProgramList.Count - 1)
                                {
                                    @InsertRow(tempProgramList, currentTime)
                                }
                                else if (tuesdayProgramList[i + 1].StartTime.ToShortTimeString() != currentTime)
                                {
                                    @InsertRow(tempProgramList, currentTime)
                                }
                            }
                        }
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="program-header">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion2" aria-expanded="false" aria-controls="accordion2">
                        Wednesday
                    </a>

                </div>
                <div id="accordion2" class="collapse" role="tabpanel">

                    <div class="container-fluid">
                        @{
                            <div class="row hidden-xs">
                                <div class="col-md-1">
                                    <p>Time</p>
                                </div>
                                <div class="col-md-2">
                                    <p>@locationList[0]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[1]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[2]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[3]</p>
                                </div>
                            </div>

                        for (int i = 0; i < wednesdayProgramList.Count; i++)
                        {
                            currentTime = wednesdayProgramList[i].StartTime.ToShortTimeString();

                            tempProgramList[Array.IndexOf(locationList, wednesdayProgramList[i].Location)] = wednesdayProgramList[i];

                            if (i == wednesdayProgramList.Count - 1)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                            else if (wednesdayProgramList[i + 1].StartTime.ToShortTimeString() != currentTime)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                        }
                        }
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="program-header">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion3" aria-expanded="false" aria-controls="accordion3">
                        Thursday
                    </a>
                </div>
                <div id="accordion3" class="collapse " role="tabpanel">

                    <div class="container-fluid">
                        @{
                            <div class="row hidden-xs">
                                <div class="col-md-1">
                                    <p>Time</p>
                                </div>
                                <div class="col-md-2">
                                    <p>@locationList[0]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[1]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[2]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[3]</p>
                                </div>
                            </div>

                        for (int i = 0; i < thursdayProgramList.Count; i++)
                        {
                            currentTime = thursdayProgramList[i].StartTime.ToShortTimeString();

                            tempProgramList[Array.IndexOf(locationList, thursdayProgramList[i].Location)] = thursdayProgramList[i];

                            if (i == thursdayProgramList.Count - 1)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                            else if (thursdayProgramList[i + 1].StartTime.ToShortTimeString() != currentTime)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                        }
                        }
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="program-header">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion4" aria-expanded="false" aria-controls="accordion4">
                        Friday
                    </a>
                </div>
                <div id="accordion4" class="collapse " role="tabpanel">

                    <div class="container-fluid">
                        @{
                            <div class="row hidden-xs">
                                <div class="col-md-1">
                                    <p>Time</p>
                                </div>
                                <div class="col-md-2">
                                    <p>@locationList[0]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[1]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[2]</p>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <p>@locationList[3]</p>
                                </div>
                            </div>

                        for (int i = 0; i < fridayProgramList.Count; i++)
                        {
                            currentTime = fridayProgramList[i].StartTime.ToShortTimeString();

                            tempProgramList[Array.IndexOf(locationList, fridayProgramList[i].Location)] = fridayProgramList[i];

                            if (i == fridayProgramList.Count - 1)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                            else if (fridayProgramList[i + 1].StartTime.ToShortTimeString() != currentTime)
                            {
                    @InsertRow(tempProgramList, currentTime)
                            }
                        }
                        }
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>



@helper InsertRow(ProgramItem[] programList, string currentTime)
{
    <div class="row">
        <div class="col-md-1">
            <p>@currentTime</p>
        </div>
        <div class="col-md-2">
            @if (programList[0] != null)
            {
                <p class="visible-xs"><strong>@programList[0].Location</strong></p>
                <p>@programList[0].Title</p>
            }
        </div>
        <div class="col-md-2 col-md-offset-1">
            @if (programList[1] != null)
            {
                <p class="visible-xs"><strong>@programList[1].Location</strong></p>
                <p>@programList[1].Title</p>
            }
        </div>
        <div class="col-md-2 col-md-offset-1">
            @if (programList[2] != null)
            {
                <p class="visible-xs"><strong>@programList[2].Location</strong></p>
                <p>@programList[2].Title</p>
            }
        </div>
        <div class="col-md-2 col-md-offset-1">
            @if (programList[3] != null)
            {
                <p class="visible-xs"><strong>@programList[3].Location</strong></p>
                <p>@programList[3].Title</p>
            }
        </div>
    </div>
    Array.Clear(programList, 0, programList.Length);
}

