@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakerspage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="main-banner cover" style="background-image:url('')">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                </div>
                <div class="col-xs-12">
                    <p>@Model.Content.Bodytext</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section">
            <div class="row">
                    
                        @{
                            foreach (var speaker in Model.Content.Children<SpeakerItem>().Where(x => x.IsVisible()))
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 main-link-block">
                                    <a href="@speaker.Url">
                                        <div id="speaker-size" class="link-block-wrap">
                                            <div style="background-image: url('@speaker.ContentImage.Url" class="link-block-image cover">
                                                <div class="image-gradient-overlay"></div>
                                                <div class="link-block-content">
                                                    <h3>@speaker.Headline</h3>
                                                </div>
                                                <div class="read-more">@speaker.GetPropertyValue("subHeadline")</div>

                                            </div>
                                            
                                        </div>

                                    </a>
                                    
                                </div>
                            }
                        }

                


            </div>
        </div>
    </div>
</div>