@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SpeakerItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
    //get banner image id from parent
    var mainBanner = Model.Content.Parent.GetPropertyValue("contentImage");

}

<div class="main-banner cover" style="background-image:url('@Umbraco.Media(mainBanner.ToString()).UmbracoFile')">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                </div>
                <div class="col-xs-12">
                    <p>@Model.Content.SubHeadline</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img class="img-full-width" src="@(Model.Content.ContentImage != null ? Model.Content.ContentImage.Url : "http://via.placeholder.com/350/350")" />
            </div>
            <div class="col-sm-7">
                <div class="col-sm-12 ">
                    <header>
                        <h4>ABOUT THE SPEAKER</h4>
                    </header>
                    <p>@Model.Content.Bodytext</p>
                </div>
                <br />
                <div class="col-sm-12 border-thin">@Html.Partial("_SpeakerSchedule")</div>
            </div>

        </div>
    </div>
</div>



