@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ThemesPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;


@{
    Layout = "Shared/_Layout.cshtml";
    var selection = Model.Content.Site().FirstChild("themesPage").Children("blockListItem")
    .Where(x => x.IsVisible());

}
<div class="main-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                    <p>@Model.Content.Bodytext</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Model.Content.ThemeIntroText
            </div>
        </div>
    </div>
</div>
<div class="section themes">
    <div class="container">
        <div class="row">

            @foreach (var item in selection)
            {

                <div class="col-sm-6 col-md-4 col-xs-12 main-link-block">
                    <div class="link-block-wrap" data-link-block>
                        <div class="link-block-image cover" style="background-image: url('@Umbraco.Media(item.GetPropertyValue("linkBlockImage").ToString()).UmbracoFile')">
                            <div class="image-gradient-overlay">
                            </div>
                        </div>
                        <div class="toggle-content">
                            <div class="link-block-content">
                                <h3>@item.GetPropertyValue("linkBlockHeadline")</h3>
                            </div>
                            <div class="read-more">Read more</div>
                        </div>
                        <div class="link-block-behind">
                            <h3>@item.GetPropertyValue("linkBlockHeadline")</h3>
                            <p>@item.GetPropertyValue("linkBlockBodytext")</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>