@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UserArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
    var member = Members.GetCurrentMember();


    //if (Request["userAction"] != null)
    //{
    //    if (Request["userAction"] == "Login")
    //    {
    //        Response.Redirect("/login");
    //    }
    //}
    

}
@if (Members.IsLoggedIn())
{
<!-- one blog iew -->
<div class="main-banner cover" style="background-image:url('@Model.Content.ContentImage')" data-image-effect>
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="banner-content">
                <div class="col-xs-12">
                    <h1>@Model.Content.Headline</h1>
                    <h3 class="white-format">@Members.GetCurrentMemberProfileModel().Name</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                @Model.Content.Bodytext
            </div>
            <div class="col-sm-10 col-sm-push-1">
                <h3>@Members.GetCurrentMemberProfileModel().CreationDate</h3>
                <p>@Members.GetCurrentMember().GetPropertyValue("funFact")</p>
                <a style="color:blue; text-align:center;" href="/?logout=true">Log out</a>
            </div>
        </div>
    </div>
</div>
}
else
{
    <a style="color:blue; text-align:center;" href="/?logout=true">Log out</a>
    <h2>pls login</h2>
}