@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core
@using Umbraco.Core
@using Umbraco.Web.Controllers

@{
    var registerModel = Members.CreateRegistrationModel();
    var redirectUrl = string.Format("{0}&register=true", Request.RawUrl);
    registerModel.RedirectUrl = redirectUrl;
    var succes = TempData["FormSucces"] != null;
}


@if (succes)
{
    <h2>This should redirect to </h2>
}
else
{
    using (Html.BeginUmbracoForm<UmbRegisterController>("HandleRegisterMember"))
    {

    
            @Html.TextBoxFor(m => registerModel.Name, new { placeholder = "Name" })
    
            @Html.TextBoxFor(m => registerModel.Email, new { placeholder = "Email" })
          
            @Html.TextBoxFor(m => registerModel.Password, new { placeholder = "Password" })
            @*@Html.LabelFor(m => registerModel.MemberProperties[0].Value, registerModel.MemberProperties[0].Name)*@
            @Html.TextAreaFor(m => registerModel.MemberProperties[0].Value, new { placeholder = "Fun fact" })
            @Html.HiddenFor(m => registerModel.MemberProperties[0].Alias)
              <button class="main-link green-btn">Register</button>
    }
}