@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Discoverpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Web.Mvc.Html
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = "/dscvr/";

    var selection = Model.Content.Site().FirstChild("discoverpage").FirstChild("discoverpageChecklist").Children("discoverChecklistItem")
                    .Where(x => x.IsVisible());
}



<div class="row">
    <div class="col-xs-12">
        @Model.Content.GetReadyContent
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                @if (!Members.IsLoggedIn())
                {
                    @Html.Partial("_LoginForm")
                    <div>
                        <a class="nostyle-link" href="/create-user/">No user? Create user here</a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        @Model.Content.GetReadyTransport
    </div>

    <div class="col-xs-12">
        @Model.Content.GetReadyToDo
    </div>

        <div class="col-xs-12">
            <h2>Dont forget</h2>
        </div>
    <div class="col-xs-12">
        <div class="row">
            @foreach (var item in selection)
            {
                <div class="col-sm-3 col-xs-6">
                    <div class="small-block">
                        <div class="small-block-image">
                            <img src="@Umbraco.Media(item.GetPropertyValue("checklistImage").ToString()).UmbracoFile" />
                        </div>
                        <div class="small-block-headline">
                            <span>@item.GetPropertyValue("checklistHeadline")</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

