@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    if (Request["logout"] != null)
        {
           Members.Logout();
        }
}

<nav>
        <ul class="list-unstyled">
            <li class="@((Model.Content.IsAncestorOrSelf(Model.Content.Site())) ? "active" : "")">
                <a href="/">Home</a>
            </li>
            @{ var allPages = Model.Content.Site().Children.Where(x => x.IsVisible());}
            @foreach (var page in allPages)
            {

                <li class="@((page.IsAncestorOrSelf(Model.Content)) ? "active" : "")">
                    <a href="@page.Url">@page.Name</a>
                </li>
            }
            @*<li>
                <form>
                    <input type="hidden" name="userAction" value="@((Members.IsLoggedIn()) ? "Logout" : "Login")"/>
                    <button class="main-link" type="submit">@((Members.IsLoggedIn()) ? "Logout" : "Login")</button>
                </form>
             
            </li>*@
        </ul>
</nav>
