<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <header>
            <div class="menu-icon-container" data-menu-toggle>
                <span class="menu-icon"></span>
            </div>
            <div class="navigation-container" data-menu-content>
                @Html.Partial("_Navigation")
            </div>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
          @Html.Partial("_Footer")
        </footer>
    </div>
  
    @Html.Partial("_Sprint")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Custom/Custom.js"></script>
</body>
</html>
