@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")" />
    <title>@Umbraco.Field("pageName")</title>
    <link href="~/Content/Styles/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu-icon-container" data-menu-toggle>
            <span class="menu-icon"></span>
        </div>
        <div class="navigation-container">
            @Html.Partial("_Navigation")
        </div>
    </header>
    <div class="main-wrapper" data-main-wrapper>
       <div class="main-overlay hidden-xs"></div>
        <div>
            @RenderBody()
        </div>
        <footer>
          @Html.Partial("_Footer")
        </footer>
    </div>
  
    @Html.Partial("_Sprite")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Custom/Custom.js"></script>
</body>
</html>
