@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--  Dynamic meta desc/keywords -->
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")" />
    <title>@Umbraco.Field("pageName")</title>
    <link href="~/Content/Styles/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Style.css" rel="stylesheet" />
    <link href="~/Content/Styles/Swiper/swiper.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
</head>
<body>
    <header>
        <!-- If page not frontpage -->
        @if (Request.Url.PathAndQuery != "/")
        {
            <div class="logo-container" data-header-logo>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#logo-svg" />
                    </svg>
                </a>
            </div>
        }
        <!-- If page not frontpage -->
        <div class="menu-icon-container" data-menu-toggle>
            <span class="menu-icon"></span>
        </div>
        <div class="navigation-container">
            @Html.Partial("_Navigation")
        </div>
    </header>
    <div class="main-wrapper" data-main-wrapper>
        <div class="main-overlay hidden-xs"></div>
        <div>
            @RenderBody()
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    <!-- Sprite partial, for all the svg -->
    @if (Request.Url.PathAndQuery != "/")
    {
        @Html.Partial("_Sprite")
    }
    
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/Custom/Custom.js"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('[data-swipe-container]', {
            slidesPerView: 5,
            spaceBetween: 50,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            // init: false,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                1260: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
                1000: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                730: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                500: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                    centeredSlides: true
                },
                350: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    centeredSlides: true
                }
            }
        });
        var swiperSecondary = new Swiper('[data-swiper-secondary]', {
            slidesPerView: 3,
            spaceBetween: 50,
            loop: true,
            autoplay: {
                delay: 3500,
                disableOnInteraction: false,
            },
            breakpoints: {
                730: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                500: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                    centeredSlides: true
                },
                350: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    centeredSlides: true
                }
            }
        });
    </script>
</body>
</html>
